In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
#Answer no 1

In [6]:
data = [4,8,15,16,23,42,]

In [7]:
series = pd.Series(data)

In [ ]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
#Answer no 2

In [9]:
new_list = ['Pen','Table','laptop','mouse','keywooard','pancil','glass','moniter','book','file']

In [10]:
series = pd.Series(new_list)

In [11]:
print(series)

0          Pen
1        Table
2       laptop
3        mouse
4    keywooard
5       pancil
6        glass
7      moniter
8         book
9         file
dtype: object

In [ ]:
#Answer no 3

In [12]:
data = {'Name':['Alice','Bob','Claire'],
        'Age':['25','30','27'],
        'Gender':['Female','Male','Female']
}

In [13]:
df = pd.DataFrame(data)
print(df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [14]:
#Answer no 4

In [15]:
#In pandas, a DataFrame is a two-dimensional labeled data structure that is similar to a table in a relational database or a spreadsheet. It consists of rows and columns, where each column can contain different data types (e.g., integers, floats, strings) and has a label called a column name. The DataFrame allows for easy manipulation and analysis of data, providing various functions and methods to perform operations on the data.

#A DataFrame can be thought of as a collection of Series objects. A Series, on the other hand, is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a DataFrame and represents a single column of data with a label called the index. Series objects are commonly used to store and manipulate a single column of data or to extract a specific column from a DataFrame.

In [16]:
#Example of data frame and series
data = {'Name':['Manish','Rahul','Bittu','hirday'],
        'Age': ['20','19','20','19'],
        'Gender':['m','m','m','m']

}
df = pd.DataFrame(data)
print(df)

     Name Age Gender
0  Manish  20      m
1   Rahul  19      m
2   Bittu  20      m
3  hirday  19      m

In [17]:
#Exammple of series 


data = [25, 30, 35]
index = ['John', 'Jane', 'Mike']

series = pd.Series(data, index=index, name='Age')
print(series)

John    25
Jane    30
Mike    35
Name: Age, dtype: int64

In [18]:
#Answer no 5
#head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are often used to get a quick glimpse of the data.

In [20]:
#Example

df = pd.read_csv('data.csv')  # Assume 'data.csv' is a file containing the data
print(df.head())  # View the first 5 rows


df = pd.read_csv('data.csv')
df.info()

df = pd.read_csv('data.csv')
print(df.describe())

In [21]:
#answer no 5

In [22]:
#mong the options provided, both Series and DataFrame in pandas are mutable in nature, meaning they can be modified after creation.

#Series objects can be modified by assigning new values to specific elements or by applying functions that modify the existing values. For example, you can change a value in a Series by accessing it using its index label and assigning a new value.

#DataFrame objects can be modified by adding or removing columns, changing values in specific cells, or applying various operations to manipulate the data. You can modify DataFrame values by accessing specific cells using column names and index labels.